@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  color: #f1f7ed;
  background-color: black;
}

.fancy-text {
  @apply bg-gradient-to-r from-pink-600 to-purple-600 bg-clip-text text-transparent;
}

.fancy-text-2 {
  @apply bg-gradient-to-r from-orange-600 to-yellow-600 bg-clip-text text-transparent;
}

.hide {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.logo-container:nth-child(2) {
  @apply delay-200;
}

.logo-container:nth-child(3) {
  @apply delay-500;
}

.logo-container:nth-child(4) {
  @apply delay-1000;
}

.beautiful-input-button {
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.gg {
  font-size: 20px;
}

.text-gg {
  font-size: 12px;
}