@tailwind base;
@tailwind components;
@tailwind utilities;

.fancy-text {
  @apply bg-gradient-to-r from-pink-600 to-purple-600 bg-clip-text text-transparent;
}

.fancy-text-2 {
  @apply bg-gradient-to-r from-orange-600 to-yellow-600 bg-clip-text text-transparent;
}

.hide {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
